.skills {
  grid-row: 3 / 4;
  grid-column: hero-end / full-end;

  h3 {
    font-size: 2.5rem;
    padding-left: 6rem;
    color: $color-white;
  }

  img {
    height: 20rem;
    width: 20rem;
  }

  ul {
    text-decoration: none;
    list-style: none;
    color: $color-white;
    font-size: 2.5rem;
    margin-left: 3.5rem;
  }

  li {
    margin-top: 3rem;
  }

  @media only screen and (max-width: $bp-large) {
    grid-row: 4 / 5;
    grid-column: hero-mid-1 / hero-end;
    padding-bottom: 1rem;

    h3 {
      font-size: 2.5rem;
      padding-left: 0;
      text-align: center;
    }

    img {
      height: 15rem;
      width: 15rem;
      display: block;
      margin: 0 auto;
    }

    ul {
      text-align: start;
      column-count: 2;
    }
    li {
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    ul {
      text-align: center;
      column-count: 1;
    }
  }

  @media only screen and (max-width: $bp-xsmall) {
    ul {
      font-size: 3rem;
    }
    li {
      margin-top: 2rem;
    }
  }

  @media only screen and (max-width: $bp-mobile-l) {
    ul {
      font-size: 2.5rem;
    }
    li {
      margin-top: 1.5rem;
    }
  }
}
